.mapApp {
  height: 100%;
  padding: 12rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 12rem 1fr;
  grid-template-areas:
    "nav ."
    "map aside";
  column-gap: 3rem;

  &__navigation {
    grid-area: nav;
  }

  &__yandexMap {
    grid-area: map;
    border-radius: 5rem 5rem 3rem 5rem;
    overflow: hidden;
  }

  &__actions {
    grid-area: aside;
  }
}
